@font-face {
    font-family: 'Criteriacf';
    src: url('../../../public/CriteriaCF-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ailerons';
    src: url('../../../public/Ailerons.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.Services{
    height:100%;
    display: flex;
    background-color:black ;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    padding: 160px 36px;
}
.h1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Criteriacf, sans-serif;
    font-size: 48px;
    font-weight: 500;
    display: flex;
    align-items: left;
    line-height: 1.16667;
    padding-top: 1.5rem;
    padding-left: 50px;

}
@media screen and (max-width: 991px) {
  .h1 {
      font-size: 40px;
      padding-left: 20px;
  }
  .Services{
    padding:  32px;
}
}