/* components/Hero.module.css */
@font-face {
    font-family: 'Criteriacf';
    src: url('../../../../public/CriteriaCF-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ailerons';
    src: url('../../../../public/Ailerons.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.Container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 160px 36px;
}
.data{
    text-align: left;
    max-width: 904px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
}
.heading{
    margin-top: 0;
    margin-bottom: 40px;
    font-family: Criteriacf, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.16667;
}
.para{
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.6;
}

.heading2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: Criteriacf, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
}
@media screen and (max-width: 479px) {
    .heading {
        font-size: 32px;
    }
    .para{
        font-size: 16px;
    }
    .heading2{
        font-size: 32px;
    }
}