/* components/Hero.module.css */
@font-face {
  font-family: 'Criteriacf';
  src: url('../../../public/CriteriaCF-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ailerons';
  src: url('../../../public/Ailerons.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.contentbox {
  padding: 160px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Justify items to the top */
  
  /* Initial hidden state */
  opacity: 0;
  transform: translateY(50px);
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Criteriacf', sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 32px;
  background: linear-gradient(to right, #f90 0.03%, #f24822 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.button {
  background-color: #f90;
  color: black;
  border-radius: 8px;
  font-family: 'Criteriacf', sans-serif;
  padding: 24px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: all .15s ease-out;
 
  margin: 0; /* Remove auto margin */
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: #f90;
}
