.socials{
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    border-top: 1px solid #31343a;
    border-bottom: 1px solid #31343a;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 54px;
    display: flex;

}
.socialsdiv{
    margin-bottom: 160px;
}
.link{
    color: #e6e6e6;
    letter-spacing: 3.84px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Criteriacf, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}
@media screen and (max-width: 479px) {
    .socials{
        grid-column-gap: 48px;
        grid-row-gap: 48px;
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}