.projectlamp{
    height: 100%;
}
.Container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding:360px 36px 36px;
    color: white;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
 
}
.heading{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Criteriacf, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.16667;
}
.approach{
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 80px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.image_box{
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 440px;
    display: flex;
    position: relative;
}
.wrapper{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden; 
}
.image{
    width: 100%;
    height: auto;
    display: block;
}
.head4{
    margin-top: 0;
    font-family: Criteriacf, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3333;
    margin-bottom: 8px;
}
.desc{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    transition: color .2s;
}
.details{
	grid-column-gap: 24px !important;
    grid-row-gap:  24px !important;
    background-color: #1f2229;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 24px !important;
    border-bottom-left-radius: 24px;
    flex-direction: column;
    font-family: Criteriacf, sans-serif !important;
    justify-content: space-between!important;
    width: 100%;
    max-width: 464px!important;
    padding: 32px!important;
    display: flex!important;
    overflow: hidden!important;
    text-align: left!important;
}
.details_box{
	grid-column-gap: 24px!important;
    grid-row-gap: 24px!important;
    flex-direction: column!important;
    display: flex!important;
}
.button{
	color: #f90;
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0);
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    text-decoration: none;
}
.title{
	margin-top: 0;
    margin-bottom: 0;
    font-family: Criteriacf, sans-serif!important;
    font-size: 24px!important;
    font-weight: 500!important;
    line-height: 1.3333;
}
.role{
	background-color: #6d7178;
    color: #e6e6e6;
    text-transform: uppercase;
    border-radius: 2px!important;
    margin: 2px!important;
    padding: 6px 12px!important;
    font-family: Criteriacf, sans-serif!important;
    font-size: 12px!important;
    font-weight: 500!important;
    line-height: 1.33333!important;
    transition: background-color .2s!important;
    display: inline-block!important;
}
.button{
	color: #f90;
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0);
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    text-decoration: none;
}
@media screen and (max-width: 479px) {
    .approach{
        grid-column-gap: 48px;
        grid-row-gap: 48px;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
}