.Container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 160px 36px;
}
.data{
    text-align: left;
    max-width: 904px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
}
    .list{
        font-size: 20px;
        margin-top: -4px;
        margin-bottom: 36px;
        padding-left: 0;
        line-height: 1.6;
    
    }
    .tips{
        font-size: 20px;
    }
    .parahead{
        margin-top: 0;
    margin-bottom: 40px;
    font-family: Criteriacf, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3333;

    }
    .heading{
        margin-top: 0;
        margin-bottom: 40px;
        font-family: Criteriacf, sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 1.16667;
    }
    .para{
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.6;
    }

.image{
    border-radius: 32px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}