@media screen and (max-width: 991px) {
    .h4 {
        font-size: 24px;
    }
}
.button{
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    align-items: center;
    display: flex;
}
.buttona{
    color: #f90;
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0);
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;

}
.arrow{
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 1;
    color: #f90;
    cursor: pointer;
}
.svgIcon {
    width: 100%;
    height: 100%;
    fill: none;
  }
  
  .svgIcon path {
    stroke: #FF9900;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .description{
    font-size: 18px;
    color:#e6e6e6;
  }
  .main{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  .details{
    display: flex;
    grid-row-gap: 24px;
    flex-direction: column;
  }
  @media screen and (max-width: 991px) {
    .description {
        font-size: 18px;
    }
}
@media screen and (max-width: 479px) {
    .description{
        font-size: 16px;
    }
}