.gap {
    justify-content: center;
    align-items: flex-end;
    margin-top: 80px;
    display: flex;
  }
  
  .box {
    margin-bottom: -16px;
  }
  
  .round {
    background-image: url('/round.svg');
    background-position: 0 0;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    display: flex;
  }
  
  .arrow {
    width: 10px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
  }
  
  .svgIcon {
    width: 100%;
    height: 100%;
    fill: none;
  }
  
  .svgIcon path {
    stroke: #FF9900;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .bottom{
    background-color: #fff;
    background-image:url('/curve.svg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 360px 48px;
    height: 48px;
  }